:root {
    --fontfamily-primary: 'Source Sans Pro', sans-serif;
    --fontfamily-secondary: 'Source Code Pro', monospace;

    --fontweight-regular: 300;
    --fontweight-bold: 600;

    --clr-light: #fff;
    --clr-dark: #343a40;

    --fontsize-h1: 3rem;
    --fontsize-h2: 2.25rem;
    --fontsize-h3: 1.25rem;

    --boxshadow: 0.1em 0.1em 0.75em rgba(0,0,0,0.25); /*left right blur color*/
}

.navbar-brand {
    font-weight: var(--fontweight-bold);
}

.profile-name-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.profile-content {
    display: flex;
    align-items: center;
}

.profile-name {
    display: inline-block;
    width: 288px;
}

.intro-text {
    font-size: x-large;
}

.my-name {
    font-size: xx-large;
}

.designation {
    float: right;
    font-size: x-large;
    padding-right: 3px;
}

.profile-image-1 {
    border: 1px dashed;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.profile-image-2 {
    border: 1px dashed;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin-left: 10px;
    display: inline-block;
}

.about-me {
    font-size: large;
    max-width: 1024px;
    margin: 0 auto;
    background-color: #e9ecef;
    padding: 20px;
}

.default-margin {
    margin-top: 32px;
}

.skills-container {
    max-width: 1024px;
    margin: 0 auto;
    background-color: #e9ecef;
    padding: 20px;
}

.skills-header {
    font-style: inherit; /* TODO: Change style */
}

.skills-card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 60px;
    height: 30px;
    text-align: center;
    box-shadow: var(--boxshadow);
    margin-right: 16px;
    margin-top: 16px;
    padding-top: 2px;
}

.education-container {
    max-width: 1024px;
    margin: 0 auto;
    background-color: #e9ecef;
    padding: 20px;
}

.education-header {
    font-style: inherit; /* TODO: Change style */
}

.educationdetails-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.edu-detailsList-left {
    padding-right: 5px;
}

.edu-detailsList-right {
    padding-left: 5px;
    overflow: hidden;
}

.edu-detail-left {
    display: flex;
    padding-top: 50px;
}

.edu-detail-right {
    display: flex;
    padding-top: 200px;
}

.data-container {
    justify-content: center;
    width: 216px;
    padding-right: 10px;
}

.data-container-right {
    justify-content: center;
    width: 216px;
    padding-left: 10px;
}

.vertical-line {
    height: auto;
    border-left: 3px solid;
    width: 5px;
}

.horizontal-line {
    width: 100px;
    border-top: 3px dashed;
    height: 5px;
    margin-top: 10px;
}

p {
    margin-bottom: 5px;
}

.date-text-left {
    font-weight: var(--fontweight-bold);
    display: flex;
    justify-content: end;
}

.standard-left {
    font-weight: var(--fontweight-bold);
    display: flex;
    justify-content: end;
}

.date-text-right {
    font-weight: var(--fontweight-bold);
}

.standard-right {
    font-weight: var(--fontweight-bold);
}

.school-org {
    display: flex;
    justify-content: right;
}

.experience-container {
    max-width: 1024px;
    margin: 0 auto;
    background-color: #e9ecef;
    padding: 20px;
}

.experience-header {
    font-style: inherit; /* TODO: Change style */
}

.experiencedetails-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.exp-detailsList-left {
    padding-right: 5px;
}

.exp-detailsList-right {
    padding-left: 5px;
    overflow: hidden;
}

.exp-detail-left {
    display: flex;
    padding-top: 50px;
}

.exp-detail-right {
    display: flex;
    padding-top: 200px;
}

@media (max-width: 500px) {
    .exp-detail-right {
        padding-top: 50px;
    }

    .edu-detail-right {
        padding-top: 50px;
    }
}

.footer {
    background: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fontsize-h3);
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fontweight-bold);
}

.footer__link:hover:hover,
.social-list__link:hover {
    opacity: 0.8;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__margin {
    margin: 0 0.5em;
}

.social-list__link {
    padding: 1em;
}

.hidden {
    display: none;
}